body{

    background-image: radial-gradient( circle 489px at 49.3% 46.6%,  rgba(255,214,126,1) 0%, rgba(253,200,0,1) 100.2% );
    font-family: 'Asap', sans-serif;

}

.titreNom{

    margin-left: 15px;

}

h1{

    font-size: 30px;

}

/* Bootstrap */

/* navbar modif  */

/* link */
.navbar-light .navbar-nav .nav-link {

    color: blue;

}
.navbar-light .navbar-nav .nav-link:hover {

    color: brown;
    font-weight: bold;
    transform: scale(1.01);

}


/* titre */

.navbar-light .navbar-brand {

    color: brown;
    font-weight: bold;
    text-decoration:none;

}

.navbar-light .navbar-brand:hover {

    color: brown;

}

/* Bloc 4 */

/* FOOTER */


footer{

    height: 250px;
    background: black;
    color: whitesmoke;
    text-align: center;
    padding: 15px;

}





/* MEDIA QUERIES */


@media all and (max-width: 780px){

    footer{

        height: 315px;

    }

   

   

}
