*{
    
    margin: 0%;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Ruda', sans-serif;


}

body{

    color: black;
    background-color: rgb(15, 15, 148);

}


/* navbar modif  */

/* link */
.navbar-light .navbar-nav .nav-link {

    color: blue;

}
.navbar-light .navbar-nav .nav-link:hover {

    color: brown;
    font-weight: bold;
    transform: scale(1.01);

}


/* titre */

.navbar-light .navbar-brand {

    color: brown;
    font-weight: bold;
    text-decoration:none;

}

.navbar-light .navbar-brand:hover {

    color: brown;

}

/* Accueil */

.accueil{

    color: white;
    min-height: 140px;
    height: 100px;
    
}

/* Remplir */

.bloc{

    background-color: whitesmoke;
    height: 80px;
    padding: 20px;
    width: 30%;
    margin: auto;
    border-radius: 6px;
    box-shadow: rgb(0, 0, 0) 0px 0px 6px 0px;

}



/* Les boutons */

.lesBoutons{

    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    
    
    
}



.bloc2{

    background-color: whitesmoke;
    height: 400px;
    padding: 20px;
    width: 60%;
    margin: auto;
    border-radius: 6px;
    box-shadow: rgb(0, 0, 0) 0px 0px 6px 0px;

}

.bloc3{

    display: none;
    background-color: whitesmoke;
    height: 650px;
    padding: 20px;
    width: 60%;
    margin: auto;
    border-radius: 6px;
    box-shadow: rgb(0, 0, 0) 0px 0px 6px 0px;

}

/* Les Titres bloc2 */

h2{

    text-align: center;

}

/* Footer */

footer{

    height: 250px;
    background: black;
    color: whitesmoke;
    text-align: center;
    padding: 15px;

}

.jo{

    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    width: 50%;
    margin: auto;
    color: black;

}

a{

    color: white;
    cursor: pointer;

}

a[href="Accueil.php"]{

    color: black;
}

a:hover{

    color: gray;
    text-decoration: none;


}

.table-light{

    border-radius: 6px;

}

.table td, .table th {
    
    border-top: none;
}

.titreListe{

    color: aquamarine;
    background-color: beige;

}




/* Media Queries  */

@media all and (max-width: 1800px){

    .bloc{

        min-width: 355px;
    
    }

    .lesBoutons{

        width: 80%;

    
    }

    .bloc2{

        min-width: 350px;

    }

    .accueil{

        color: white;
        
        
    }
 

}





@media all and (max-width: 780px){

    .bloc3{

        min-height: 1000px;
        min-width: 350px;

    }

    footer{

        height: 315px;

    }

   

   

}
